

*{
    -fx-primary : #e8a87c;
    -fx-secondary : #a8d6c9;
    -fx-primarytext : #ffffff;
    -fx-grey: #999999;
    -fx-lightorange: #ecb693;
}

.root{
    -fx-background-color: -fx-primary;
}




.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
}

.button{


    -fx-text-fill: -fx-primarytext;
    -fx-background-color: transparent;
    -fx-border-color:  -fx-secondary;
    -fx-border-radius: 20px;

    -fx-background-radius: 20px;
    -fx-font-size: 12pt;

    -fx-font-color: -fx-primarytext;
}

.button:hover{

    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
}
.logout:hover{


    -fx-text-fill: -fx-secondary;
}

.button:focused{


    -fx-background-color: -fx-primary;
}

.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-grey;
    -fx-prompt-text-fill: -fx-primarytext;

}

.search
{
    -fx-text-fill: black;
    -fx-font-size : 12pt;

    -fx-prompt-text-fill: -fx-grey;

}
.combo-box
{
    -jfx-focus-color: -fx-secondary;
    -jfx-unfocus-color: -fx-secondary;
    -fx-prompt-text-fill: #ffffff;
    -fx-text-fill: black;
    -fx-background-color: -fx-secondary;
}

.combo-box .list-cell {
    -fx-text-fill: -fx-primarytext; 
    -fx-background-color: -fx-secondary;
}

.jfx-hamburger StackPane
{
    -fx-background-color: -fx-grey;

}
.pullout-button:hover
{
    -fx-background-color: -fx-secondary;

}
.pullout-button
{
    -fx-border-color: transparent;
    -fx-background-color: -fx-lightorange;

}

.userhome-button:hover
{

    -fx-background-color: -fx-secondary;

}
.userhome-button
{

    -fx-background-color: -fx-lightorange;
    -fx-border-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.quest-button:hover{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.compbutton{
    -fx-background-color: -fx-lightorange;
    -fx-border-color: transparent;
}
.compbutton:hover{
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-secondary;
}
.compbutton:focused{
    -fx-background-color: -fx-lightorange;

}